.App{
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 100vh;
  overflow: hidden;
}
.back-normal{
  background-image: url('../assets/images/main-bg.jpg');
}

.back-snow{
  background-image: url('../assets/images/snow.png') , url('../assets/images/main-bg.jpg');
}

.back-heat{
  background-image: url('../assets/images/heat.png'), url('../assets/images/main-bg.jpg');
}